<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elementary.Hierarchy" version="1.7.1" targetFramework="net461" />
  <package id="Elementary.Hierarchy.Collections" version="0.2.1" targetFramework="net461" />
  <package id="Elementary.Properties" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.0.0" targetFramework="net461" />
  <package id="NLog" version="4.4.1" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.1" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.1" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
</packages>